<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>MiPortafolio - Arquitectura</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Los servlets (LoginServlet, LogoutServlet, SesionServlet, ListarArchivosServlet,
         SubirArchivoServlet, DescargarArchivoServlet, EliminarArchivoServlet) y el
         AdminFilter se registran solos via anotaciones @WebServlet / @WebFilter,
         no hace falta declararlos aqui. -->

</web-app>
